bin
obj
logs
*.user
*.suo
/AIRBox/AIRBox.Web/App_Data/Temps
.vs
packages
/AIRBox/AIRBox.Win/cef
/AIRBox/AIRBox.Web/wwwroot/lib
Build
/ChromiumFx.Anycpu
/.vs
/Release/ChromiumFx.Anycpu
/Release/ChromiumFx.Anycpu/cef-3.3071.1644
/Release/ChromiumFx.Anycpu/cef-3.3163.1670
